.App {
  
}

/* Home/My Recipes Page */
.Recipe {
  /* border: 5px; */
  /* border-width: 1px;
  border-color: white;
  border-style: solid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.RecipeList {
  /* margin-top: 100px; */
  padding: 50px;
  text-align: center;
}

.RecipeListItems {
  text-align: center;
  width: 50%;
  display: inline-block;
}

.RecipeButton{
  border: none;
  /* justify-self: center; */
  text-align: left;
}

.RecipeButtonLink {
  text-decoration: none;
  font-size: 20px;
  color: black;
  align-content: flex-start;
  
}

.DeleteButton {
  border-radius: 25px;
  border: none;
  padding: 5px;
  color: gray;
  text-decoration: none;
  font-size: 16px;
}

.AddRecipeButton {
  background-color: rgb(24, 102, 95);
  border-radius: 25px;
  border: none;
  margin-top: 10px;
  padding: 10px;
  color: gray;
  text-decoration: none;
  margin: 5px;
}

.AddRecipeButtonLink {
  border-radius: 25px;
  border: none;
  /* margin-left: 5px; */
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}


/* View Recipe Page */
.BackButton {
  border-radius: 25px;
  border: none;
  padding: 10px;
  /* font-size: 160px; */
  /* text-decoration: none; 
  color: gray; */
  background-color: rgb(24, 102, 95);
  margin: 15px;
}

.BackButtonLink {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.ViewRecipe {
  text-align: center;
}

.ViewRecipe h1 {
  /* margin: 0 20px; */
  /* padding: 0 50px; */
  width: 70%;
  text-align: center;
  display: inline-block;
}

.RecipeContents {
  text-align: center;
  width: 50%;
  display: inline-block;
}

.RecipeContents h2 {
  text-align: left;
}

.RecipeContents p {
  text-align: left;
  font-size: 20px;
}

.RecipeContents li {
  text-align: left;
  font-size: 20px;
}


/* Add Recipe */
.AddRecipe {
  text-align: center;
}

.AddRecipeForm {
  text-align: center;
  width: 50%;
  display: inline-block;
}

.AddRecipeForm form {
  text-align: left;
}

.AddRecipeForm h2 {
  padding-top: 10px;
}

.AddRecipeForm input[type='text'] {
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 20px 6px 20px;
  border-bottom: 1px solid rgb(24, 102, 95);
  font-size: 20px;
  margin-bottom: 10px;
}

.AddRecipeForm input[type='button'] {
  text-align: center;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 5px 10px;
  margin: 15px;
  background-color: rgb(24, 102, 95);
  font-size: 15px;
  text-decoration: none;
  color: white;
}

/* .AddRecipeSaveButton {
  text-align: center;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 10px 15px;
  margin: 15px;
  background-color: rgb(24, 102, 95);
}

.AddRecipeSaveButtonLink {
  font-size: 20px;
  text-decoration: none;
  color: white;
} */


.Button{
  text-align: center;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 10px 15px;
  margin: 15px;
  background-color: rgb(24, 102, 95);
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.ButtonLink {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
